<!DOCTYPE html>
<html>
<head>
    <title>Đơn hàng của bạn đã được ghi nhận</title>
    <meta charset="utf-8" />

</head>
<body>
    THÔNG TIN ĐƠN HÀNG <br />
    <br />
    Tên khách hàng: {{HoTen}} <br />
    Điện thoại: {{DienthoaiKH}} <br />
    Email: {{Email}} <br />
    Địa Chỉ: {{DiachiKH}} <br />
    Trị giá đơn hàng: {{Tongtien}} VNĐ<br />
    <br />
    Mọi thắc mắc liên hệ <br />
    Địa chỉ email: {{dangduymanh2010@gmail.com}}<br />
    Hoặc SĐT: 0374160067<br />
    <br />
    Trân trọng, cảm ơn!<br />
</body>
</html>