<a href="@Url.Action("GioHang","Giohang")" style="color:red; font-weight:bold; text-decoration:none;">
    <img src="~/Hinhsanpham/giohang2.png" width="25x" height="25px" href="@Url.Action("GioHang","Giohang")"/> Giỏ Hàng(@ViewBag.Tongsoluong)
</a>

    